node_modules
dist
out
.DS_Store
.eslintcache
*.log*
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.idea/
.vscode/
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.~
*.tmp
*.cache
*.coverage
*.egg
*.manifest
*.spec
pip-wheel-metadata/
htmlcov/
coverage.xml
*.tox/
/.pytest_cache/
/.mypy_cache/
/.pylint.d/
/.envrc
/.env*
